@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@400;500;700&display=swap");
@import "@fontsource/space-grotesk";
@import "@fontsource/vt323";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:"Space Grotesk",sans-serif;
  background:#D9D3F8;
}

h1,h2,h3{

font-family:"VT323",monospace;
letter-spacing:2px;

}

button{

cursor:pointer;
transition:.25s;

}

a{

text-decoration:none;

}