.playquiz-page{
    max-width:1200px;
    margin:40px auto;
}

.quiz-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.subject-tag{
    background:#CFF6F4;
    border:3px solid #17131F;
    padding:10px 18px;
    font-family:"Space Grotesk";
    font-weight:700;
}

.progress-wrapper{
    display:flex;
    align-items:center;
    gap:15px;
}

.progress-bar{
    width:450px;
    height:16px;
    border:3px solid #17131F;
    background:white;
}

.progress-fill{
    height:100%;
    background:#7C3AED;
    transition:.4s;
}

.quiz-card{
    background:#FFFDF5;
    border:4px solid #17131F;
    box-shadow:8px 8px 0 #17131F;
    padding:35px;
}

.question-title{
    display:flex;
    align-items:center;
    gap:20px;
    margin-bottom:35px;
}

.question-number{
    background:#7C3AED;
    color:white;
    padding:12px 18px;
    font-family:"Press Start 2P";
    font-size:12px;
}

.question-title h2{
    font-family:"Space Grotesk";
    font-size:32px;
    margin:0;
}

.options{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.option-card{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px;
    border:3px solid #17131F;
    background:#FFFDF5;
    box-shadow:4px 4px 0 #17131F;
    cursor:pointer;
    transition:.2s;
}

.option-card:hover{
    transform:translateY(-2px);
}

.option-letter{
    width:42px;
    height:42px;
    border:2px solid #17131F;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:"Press Start 2P";
    font-size:12px;
}

.option-card span{
    font-size:22px;
    font-family:"Space Grotesk";
}

.quiz-footer{
    display:flex;
    justify-content:flex-end;
    margin-top:40px;
}

.next-btn{
    background:#40C97A;
    color:white;
    border:3px solid #17131F;
    box-shadow:4px 4px 0 #17131F;
    padding:18px 45px;
    font-size:18px;
    font-weight:700;
    cursor:pointer;
}
.selected {
    background: #F2EBFF;
    border: 3px solid #7C3AED;
}

.correct {
    background: #D9F8E5;
    border: 3px solid #2E9F55;
}

.wrong {
    background: #FFD9D9;
    border: 3px solid #E63946;
}

.option-card:disabled {
    cursor: default;
}

.next-btn:disabled {
    opacity: .5;
    cursor: not-allowed;
}

.explanation-box {
    margin-top: 35px;
    background: #FFF7D6;
    border: 3px solid #17131F;
    box-shadow: 4px 4px 0 #17131F;
    padding: 22px;
}

.explanation-box h3 {
    margin: 0 0 12px;
    font-family: "Press Start 2P";
    font-size: 12px;
}

.explanation-box p {
    margin: 0;
    font-size: 18px;
    line-height: 1.6;
}